<div class="filter modal" id="campus-modal-filter">
</div>
<div class="container">
    <div class="content">
        <button id="close-campus-modal-button" class="close-modal-button">×</button>
        <h2 id="modal-campus-id" hidden></h2>
        <h2 id="modal-campus-name">キャンパス名</h2>
        <!--<h3 id="modal-campus-name-english">英語表記</h3>-->
        <div>
            <img id="modal-campus-img" class="modal-img" src="./assets/images/camp/summer2017.png">
        </div>
        <button id="campus-location-modal-button" class="open-modal-button">edit location <i class="fa fa fa-map-marker" aria-hidden="true"></i></button>
        <div class="items-box">
            <div id="campus-camp-item"><h2>Camp<span class="open-choose-campus-camp-button" value=""> <i class="edit-button fa fa-th-list" aria-hidden="true"></i></span></h2></div>
            <%= erb :_loader ,locals: {loader_id: "campus-camp-item"} %>
    	</div>
	</div>
</div>
<script>
    // 押されるものはdata.erbにある
    ($(".open-campus-modal-button").on('click',function(){
        console.log(".open-campus-modal-button is clicked.");
        campusDiv = $(this)
        campusId = campusDiv.children("#campus-id").attr('value');
        $(".open-choose-campus-camp-button").attr('value',campusId);
        campusImgUrl = campusDiv.children("#campus-img").attr('src');
        campusName = campusDiv.children("#campus-name").text();
        
        $(".ajax-camp").remove();
        console.log("loading choose-campus-modal.");
        
        $.ajax({
          type: "POST",
          url: "./campus/camps",
          data: {"campusId": campusId},
          success: function(html){
            $("#campus-camp-item").append(html);
            $(".loader#campus-camp-item").fadeOut(100);
            $("#campus-camp-item .ajax-camp").each(function(i,item){
                $(item).delay(100).fadeIn(10);
            });
            $("#campus-camp-item .ajax-camp").each(function(i,item){
                $(item).delay(i*50).queue(function(next) {
                    $(this).animate({opacity: 1}, 100);
                    next();
                });
            })
            console.log("loading choose-campus-modal end.");
          }
        });
        
        $("#modal-campus-id").text(campusId);
        $("#modal-campus-name").text(campusName);
        $("#modal-campus-img").attr('src',campusImgUrl);

        $("#choose-camp-modal-filter+.container #campus-id").attr('value',campusId);
        $("#choose-camp-modal-filter+.container #campus-img").attr('src',campusImgUrl);
        $("#choose-camp-modal-filter+.container #campus-name").text(campusName);
        
        $("#campus-modal-filter").addClass("active");
    }));
    ($("#close-campus-modal-button").on('click',function(){
        console.log("#close-campus-modal-button is clicked.");
        $(".filter.active").removeClass("active");
        $(".loader").show();
    }));
</script>