<div class="filter above-modal" id="choose-course-modal-filter">
</div>
<div class="container">
    <div class="content">
        <div id="mentor-data" class="mentor-modal-button" hidden>
			<div id="mentor-id" value=""></div>
			<img id="mentor-img" src="">
			<h3  id="mentor-name"></h3>
		</div>
        <div class="close-button-box"><button class="close-above-modal-button">×</button></div>
        <div class="items-box">
            <div id="choose-course"><h2 class="choose-name">Course</h2></div>
            <%= erb :_above_loader ,locals: {loader_id: "course-choose-item"} %>
        </div>
	</div>
</div>
<script>
    ($(".open-choose-mentor-course-button,.open-choose-camp-course-button").on('click',function(){
        var div = $(this);
        var id = div.attr('value');
        var divClass = $(this).attr('class');
        console.log("." + divClass + " id clicked.");
        
        $(".close-above-modal-button").attr('value',divClass);
        
        $(".ajax-course-choose").remove();
        console.log("loading choose-course-modal.");
        
        var ajaxUrlBase = "";
        var dataId_1 = "";
        var data = {};
        if(divClass == "open-choose-mentor-course-button"){
            ajaxUrlBase = "./mentor/courses";
            dataId_1 = "mentorId";
        }else if(divClass == "open-choose-camp-course-button"){
            ajaxUrlBase = "./camp/courses";
            dataId_1 = "campId";
        }
        data[dataId_1] = id;
        console.log("{" + dataId_1 + ":" + id + "} is saved.");
        $.ajax({
          type: "POST",
          url: ajaxUrlBase + "/edit",
          data: data,
          success: function(html){
            $("#choose-course").append(html);
            $(".above-loader#course-choose-item").fadeOut(100);
            
            $(".ajax-course-choose").each(function(i,item){
                $(item).delay(100).fadeIn(10);
            });
            
            $(".ajax-course-choose").on('click',function(){
                var courseId = $(this).attr('value');
                data["courseId"] = courseId;
                console.log("{" + dataId_1 + ":" + data[dataId_1] + ", courseId:" + courseId + "is saved.}");
                if($(this).hasClass('on')){
                    console.log("off mentor{id:" + String(id) + "} course{id:" + String(courseId) + '}');
                    $.ajax({ 
                        type: "POST",
                        url: ajaxUrlBase + "/update/off",
                        context: this,
                        data: data,
                        success: function(html){
                            $(this).removeClass('on');
                            $(this).addClass('off');
                            $(this).delay(20).queue(function(next) {
                                $(this).animate({opacity: 0.3}, 100);
                                next();
                            });
                            console.log("off mentor{id:" + String(id) + "} course{id:" + String(courseId) + "} end.");
                        }
                    });
                }else{
                    console.log("on mentor{id:" + String(id) + "} course{id:" + String(courseId) + "}");
                     $.ajax({
                        type: "POST",
                        context: this,
                        url: ajaxUrlBase + "/update/on",
                        data: data,
                        success: function(html){
                            $(this).removeClass('off');
                            $(this).addClass('on');
                            $(this).delay(20).queue(function(next) {
                                $(this).animate({opacity: 1}, 100);
                                next();
                            });
                            console.log("on mentor{id:" + String(id) + "} course{id:" + String(courseId) + "} end");
                        }
                    });
                }
            });
            $(".ajax-course-choose").each(function(i,item){
                if ($(item).hasClass('on')){
                    $(item).delay(i*50).queue(function(next) {
                        $(this).animate({opacity: 1}, 100);
                        next();
                    });
                }else{
                    $(item).delay(i*50).queue(function(next) {
                        $(this).animate({opacity: 0.3}, 100);
                        next();
                    });
                }
            });
            console.log("loading choose-course-modal end.");
          }
        });
        $("#choose-course-modal-filter").addClass("active");
    }));
    ($("#choose-course-modal-filter+.container .close-above-modal-button").on('click',function(){
        console.log(".close-modal-button is clicked.");
        $(".filter.above-modal.active").removeClass("active");
        $(".above-loader").show();
        $(".loader").show();
        
        var divClass = $(".close-above-modal-button").attr('value');
        
        if(divClass=="open-choose-mentor-course-button"){
            console.log("Jump to #mentor-data.mentor-modal-button");
            $(this).parent().prev(".mentor-modal-button").removeAttr("id");
            $(this).parent().prev(".mentor-modal-button").attr('id',"mentor-data");
            $("#mentor-data.mentor-modal-button").trigger("click");
        }else if(divClass=="open-choose-camp-course-button"){
            console.log("Jump to #camp-data.camp-modal-button");
            $("this+.mentor-modal-button").attr('id',"camp-data");
            $("#camp-data.camp-modal-button").trigger("click");
        }
    }));
    
    ($("#mentor-data.mentor-modal-button,#camp-data.course-modal-button").on('click',function(){
        console.log("#camp-data.camp-modal-button activate.");
        var divId = $(this).attr('id');
        var div = $(this);
        var category = "";
        
        if(divId=="mentor-data"){
            category = "mentor";
        }else if(divId=="camp-data"){
            category = "camp";
        }
        var id = div.children("#mentor-id").attr('value');
        
        $(".open-choose-mentor-course-button").attr('value',id);
        var imgUrl = div.children("#mentor-img").attr('src');
        var name = div.children("#mentor-name").text();
        
        $("#modal-mentor-name").text(name);
        $("#modal-mentor-img").attr('src',imgUrl);
        
        $(".ajax-course").remove();
        console.log("reloading mentor{id:" + String(id) + "} courses.");
        $.ajax({
          type: "POST",
          url: "./mentor/courses",
          data: {"mentorId": id},
          success: function(html){
            $("#mentor-course-item").append(html);
            $("#mentor-course-item.loader").fadeOut(100);
            $(".ajax-course").each(function(i,item){
                $(item).delay(100).fadeIn(10);
            });
            $(".ajax-course").each(function(i,item){
                $(item).delay(i*50).queue(function(next) {
                    $(this).animate({opacity: 1}, 100);
                    next();
                });
            })
            console.log("reloading mentor{id:" + String(id) + "} courses end.");
          }
        });
        
        $("#choose-course-modal-filter+.container #mentor-id").text(id);
        $("#choose-course-modal-filter+.container #mentor-img").attr('src',imgUrl);
        $("#choose-course-modal-filter+.container #mentor-name").text(name);
        
        
        $("#mentor-modal-filter").addClass("active");
    }));
</script>