<div class="filter modal" id="course-modal">
</div>
<div class="container">
    <div class="content">
        <button class="close-modal-button">×</button>
        <h2 id="modal-course-name">コース名</h2>
        <!--<h3 id="modal-course-name-english">英語表記</h3>-->
        <div>
            <img id="modal-course-img" class="modal-img" src="./assets/images/camp/summer2017.png">
        </div>
    	<div class="items-box">
            <div id="course-mentor-item"><h2>Mentor</h2></div>
            <%= erb :_loader ,locals: {loader_id: "course-mentor-item"} %>
    	</div>
	</div>
</div>