<div class="filter modal" id="course-modal-filter">
</div>
<div class="container">
    <div class="content">
        <button class="close-modal-button">×</button>
        <h2 id="modal-course-name">コース名</h2>
        <!--<h3 id="modal-course-name-english">英語表記</h3>-->
        <div>
            <img id="modal-course-img" class="modal-img" src="./assets/images/camp/summer2017.png">
        </div>
    	<div class="items-box">
            <div id="course-mentor-item"><h2>Mentor</h2></div>
            <%= erb :_loader ,locals: {loader_id: "course-mentor-item"} %>
    	</div>
	</div>
</div>
<script>
($(".open-course-modal-button").on('click',function(){
    console.log(".open-course-modal-button is clicked.");
    var courseDiv = $(this);
    var courseId = courseDiv.children("#course-id").attr('value');
    var courseImgUrl = courseDiv.children("#course-img").attr('src');
    var courseName = courseDiv.children("#course-name").text();
        
    $(".ajax-mentor").remove();
    console.log("loading course{id:" + String(courseId) + "} mentors.");
    $.ajax({
        type: "POST",
        url: "./course/mentors",
        data: {"courseId": courseId},
        success: function(html){
            $("#course-mentor-item").append(html);
            $(".loader#course-mentor-item").fadeOut(100);
            $("#course-mentor-item .ajax-mentor").each(function(i,item){
                $(item).delay(100).fadeIn(10);
            });
            $("#course-mentor-item .ajax-mentor").each(function(i,item){
                $(item).delay(i*50).queue(function(next) {
                    $(this).animate({opacity: 1}, 100);
                    next();
                });
            })
            console.log("loading course{id:" + String(courseId) + "} mentors end.");
        }
    });
    
    $("#modal-course-name").text(courseName);
    $("#modal-course-img").attr('src',courseImgUrl);
    $("#course-modal-filter").addClass("active");
}));
($(".close-modal-button").on('click',function(){
    console.log(".close-modal-button is clicked.");
    $(".filter.active").removeClass("active");
    $(".loader").show();
}));
</script>