<div class="filter add-modal" id="add-mentor-modal-filter">
</div>
<div class="container">
    <div class="content">
        <button class="close-modal-button">×</button>
        <!--<h2 class="form-header">メンターを追加する</h2>-->
        <form action="/mentors/create" method="post">
    		<input type="text" name="name" placeholder="mentor name">
    		<input type="submit" value="追加">
    	</form>
	</div>
</div>
<script>
    ($("#mentor-modal-button").on('click',function(){
        $("#add-mentor-modal-filter").addClass("active");
    }));
    ($(".close-modal-button").on('click',function(){
        $(".filter.active").removeClass("active");
    }));
</script>