<div class="filter add-modal" id="add-album-modal-filter">
</div>
<div class="container">
    <div class="content">
        <button class="close-modal-button">×</button>
        <!--<h2 class="form-header">アルバムを追加する</h2>-->
        <form action="/albums/create" method="post">
    		<input type="text" name="name" placeholder="album url">
    		<input type="submit" value="追加">
    	</form>
	</div>
</div>
<script>
    ($(".open-add-album-modal-button").on('click',function(){
        console.log(".open-add-album-modal-buttonn is clicked.");
        $("#add-album-modal-filter").addClass("active");
    }));
    ($(".close-modal-button").on('click',function(){
        console.log(".close-modal-button is clicked.");
        $(".filter.active").removeClass("active");
    }));
    
</script>